In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('IMDB-Movie-Data.csv')
print(df)

     Rank                    Title  ... Revenue (Millions) Metascore
0       1  Guardians of the Galaxy  ...             333.13      76.0
1       2               Prometheus  ...             126.46      65.0
2       3                    Split  ...             138.12      62.0
3       4                     Sing  ...             270.32      59.0
4       5            Suicide Squad  ...             325.02      40.0
..    ...                      ...  ...                ...       ...
995   996     Secret in Their Eyes  ...                NaN      45.0
996   997          Hostel: Part II  ...              17.54      46.0
997   998   Step Up 2: The Streets  ...              58.01      50.0
998   999             Search Party  ...                NaN      22.0
999  1000               Nine Lives  ...              19.64      11.0

[1000 rows x 12 columns]

In [6]:
df.head(10)

   Rank                    Title  ... Revenue (Millions) Metascore
0     1  Guardians of the Galaxy  ...             333.13      76.0
1     2               Prometheus  ...             126.46      65.0
2     3                    Split  ...             138.12      62.0
3     4                     Sing  ...             270.32      59.0
4     5            Suicide Squad  ...             325.02      40.0
5     6           The Great Wall  ...              45.13      42.0
6     7               La La Land  ...             151.06      93.0
7     8                 Mindhorn  ...                NaN      71.0
8     9       The Lost City of Z  ...               8.01      78.0
9    10               Passengers  ...             100.01      41.0

[10 rows x 12 columns]

In [7]:
df.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [8]:
df.shape

(1000, 12)

In [9]:
df.size

12000

In [10]:
df.ndim

2

In [15]:
 val = df.values
 print(val)
 type(val)

[[1 'Guardians of the Galaxy' 'Action,Adventure,Sci-Fi' ... 757074 333.13
  76.0]
 [2 'Prometheus' 'Adventure,Mystery,Sci-Fi' ... 485820 126.46 65.0]
 [3 'Split' 'Horror,Thriller' ... 157606 138.12 62.0]
 ...
 [998 'Step Up 2: The Streets' 'Drama,Music,Romance' ... 70699 58.01 50.0]
 [999 'Search Party' 'Adventure,Comedy' ... 4881 nan 22.0]
 [1000 'Nine Lives' 'Comedy,Family,Fantasy' ... 12435 19.64 11.0]]

numpy.ndarray

In [16]:
df.describe()

              Rank         Year  ...  Revenue (Millions)   Metascore
count  1000.000000  1000.000000  ...          872.000000  936.000000
mean    500.500000  2012.783000  ...           82.956376   58.985043
std     288.819436     3.205962  ...          103.253540   17.194757
min       1.000000  2006.000000  ...            0.000000   11.000000
25%     250.750000  2010.000000  ...           13.270000   47.000000
50%     500.500000  2014.000000  ...           47.985000   59.500000
75%     750.250000  2016.000000  ...          113.715000   72.000000
max    1000.000000  2016.000000  ...          936.630000  100.000000

[8 rows x 7 columns]

In [19]:
df.iloc[:,0:3]

     Rank                    Title                     Genre
0       1  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1       2               Prometheus  Adventure,Mystery,Sci-Fi
2       3                    Split           Horror,Thriller
3       4                     Sing   Animation,Comedy,Family
4       5            Suicide Squad  Action,Adventure,Fantasy
..    ...                      ...                       ...
995   996     Secret in Their Eyes       Crime,Drama,Mystery
996   997          Hostel: Part II                    Horror
997   998   Step Up 2: The Streets       Drama,Music,Romance
998   999             Search Party          Adventure,Comedy
999  1000               Nine Lives     Comedy,Family,Fantasy

[1000 rows x 3 columns]

In [18]:
df[1:20]

    Rank  ... Metascore
1      2  ...      65.0
2      3  ...      62.0
3      4  ...      59.0
4      5  ...      40.0
5      6  ...      42.0
6      7  ...      93.0
7      8  ...      71.0
8      9  ...      78.0
9     10  ...      41.0
10    11  ...      66.0
11    12  ...      74.0
12    13  ...      65.0
13    14  ...      81.0
14    15  ...      70.0
15    16  ...      61.0
16    17  ...      71.0
17    18  ...      58.0
18    19  ...      69.0
19    20  ...      81.0

[19 rows x 12 columns]

In [20]:
df.sort_values(by='Year',ascending = True)

     Rank                     Title  ... Revenue (Millions) Metascore
773   774         Lady in the Water  ...              42.27      36.0
445   446               Silent Hill  ...              46.98       NaN
99    100              The Departed  ...             132.37      85.0
550   551              The Break-Up  ...             118.68      45.0
885   886                     Babel  ...              34.30      69.0
..    ...                       ...  ...                ...       ...
247   248        20th Century Women  ...               5.66      83.0
250   251              Bonjour Anne  ...               0.32      50.0
258   259                Lights Out  ...              67.24      58.0
237   238  The Disappointments Room  ...               2.41      31.0
999  1000                Nine Lives  ...              19.64      11.0

[1000 rows x 12 columns]

In [21]:
df.sort_index(ascending = True)

     Rank                    Title  ... Revenue (Millions) Metascore
0       1  Guardians of the Galaxy  ...             333.13      76.0
1       2               Prometheus  ...             126.46      65.0
2       3                    Split  ...             138.12      62.0
3       4                     Sing  ...             270.32      59.0
4       5            Suicide Squad  ...             325.02      40.0
..    ...                      ...  ...                ...       ...
995   996     Secret in Their Eyes  ...                NaN      45.0
996   997          Hostel: Part II  ...              17.54      46.0
997   998   Step Up 2: The Streets  ...              58.01      50.0
998   999             Search Party  ...                NaN      22.0
999  1000               Nine Lives  ...              19.64      11.0

[1000 rows x 12 columns]

In [22]:
df[['Title','Rating','Votes']].agg(['min','mean','max'])

                     Title  Rating        Votes
min   (500) Days of Summer  1.9000       61.000
max               Zootopia  9.0000  1791916.000
mean                   NaN  6.7232   169808.255

In [23]:
df.filter(items=['Title','Rank','Votes'])

                       Title  Rank   Votes
0    Guardians of the Galaxy     1  757074
1                 Prometheus     2  485820
2                      Split     3  157606
3                       Sing     4   60545
4              Suicide Squad     5  393727
..                       ...   ...     ...
995     Secret in Their Eyes   996   27585
996          Hostel: Part II   997   73152
997   Step Up 2: The Streets   998   70699
998             Search Party   999    4881
999               Nine Lives  1000   12435

[1000 rows x 3 columns]

In [24]:
df[df['Rank']>10]['Title'].count()

990

In [30]:
a = df.groupby('Genre')
a.mean()
df[df['Rating']>7].groupby('Genre')[['Rating']].count()

                            Rating
Genre
Action                           1
Action,Adventure,Biography       1
Action,Adventure,Comedy          4
Action,Adventure,Crime           2
Action,Adventure,Drama           4
...                            ...
Mystery,Sci-Fi,Thriller          3
Mystery,Thriller                 3
Mystery,Thriller,Western         1
Romance,Sci-Fi,Thriller          1
Thriller                         1

[129 rows x 1 columns]

In [34]:
top = df[df['Rating']>8.0]
top.groupby(['Title'])['Votes'].mean()

Title
12 Years a Slave                                 486338
3 Idiots                                         238789
Ah-ga-ssi                                         33418
Bahubali: The Beginning                           76193
Dangal                                            48969
Django Unchained                                1039115
El secreto de sus ojos                           144524
Gone Girl                                        636243
Gran Torino                                      595779
Guardians of the Galaxy                          757074
Hachi: A Dog's Tale                              177602
Hacksaw Ridge                                    211760
Harry Potter and the Deathly Hallows: Part 2     590595
How to Train Your Dragon                         523893
Incendies                                         92863
Inception                                       1583625
Inglourious Basterds                             959065
Inside Out                                       416689
Interstellar                                    1047747
Into the Wild                                    459304
Jagten                                           192263
Kimi no na wa                                     34110
Koe no katachi                                     2421
La La Land                                       258682
Lion                                             102061
Mad Max: Fury Road                               632842
Mommy                                             33560
No Country for Old Men                           660286
PK                                               103279
Paint It Black                                       61
Pan's Labyrinth                                  498879
Prisoners                                        431185
Relatos salvajes                                 110100
Room                                             224132
Rush                                             339722
Shutter Island                                   855604
Spotlight                                        268282
Star Wars: Episode VII - The Force Awakens       661608
Taare Zameen Par                                 102697
The Avengers                                    1045588
The Bourne Ultimatum                             525700
The Dark Knight                                 1791916
The Dark Knight Rises                           1222645
The Departed                                     937414
The Grand Budapest Hotel                         530881
The Help                                         342429
The Imitation Game                               532353
The Intouchables                                 557965
The Lives of Others                              278103
The Prestige                                     913152
The Wolf of Wall Street                          865134
There Will Be Blood                              400682
Toy Story 3                                      586669
Twin Peaks: The Missing Pieces                     1973
Up                                               722203
WALL·E                                           776897
Warrior                                          355722
Whiplash                                         477276
Zootopia                                         296853
Name: Votes, dtype: int64

In [38]:
a = df.sort_values(by='Rating')
a.head()

     Rank                    Title  ... Revenue (Millions) Metascore
829   830           Disaster Movie  ...              14.17      15.0
42     43  Don't Fuck in the Woods  ...                NaN       NaN
871   872     Dragonball Evolution  ...               9.35      45.0
647   648                 Tall Men  ...                NaN      57.0
968   969                  Wrecker  ...                NaN      37.0

[5 rows x 12 columns]

In [49]:
most_votes = df.groupby(['Votes']).mean()
print(most_votes.sort_values(by=['Votes'],ascending=False).head())

          Rank    Year  ...  Revenue (Millions)  Metascore
Votes                   ...
1791916   55.0  2008.0  ...              533.32       82.0
1583625   81.0  2010.0  ...              292.57       74.0
1222645  125.0  2012.0  ...              448.13       78.0
1047747   37.0  2014.0  ...              187.99       74.0
1045588   77.0  2012.0  ...              623.28       69.0

[5 rows x 6 columns]

In [50]:
df.isnull().sum()

Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

In [56]:
df.dropna()

     Rank                     Title  ...   Votes Revenue (Millions)
0       1   Guardians of the Galaxy  ...  757074             333.13
1       2                Prometheus  ...  485820             126.46
2       3                     Split  ...  157606             138.12
3       4                      Sing  ...   60545             270.32
4       5             Suicide Squad  ...  393727             325.02
..    ...                       ...  ...     ...                ...
993   994  Resident Evil: Afterlife  ...  140900              60.13
994   995                 Project X  ...  164088              54.72
996   997           Hostel: Part II  ...   73152              17.54
997   998    Step Up 2: The Streets  ...   70699              58.01
999  1000                Nine Lives  ...   12435              19.64

[872 rows x 11 columns]

In [57]:
rank = df.apply(lambda n: n*5)
print(rank.head())

   Rank  ... Revenue (Millions)
0     5  ...            1665.65
1    10  ...             632.30
2    15  ...             690.60
3    20  ...            1351.60
4    25  ...            1625.10

[5 rows x 11 columns]